html
/*{background: rgb(0,0,10);
background: linear-gradient(45deg, rgb(1, 1, 26) 27%, 
rgb(27, 27, 139) 100%, 
rgb(6, 154, 184) 90%);
opacity: 95%;}

h1, h3 {
    text-align: center;
    /*color: white;
    text-shadow: 5px,5px, 8px red;
}

