html{
    background-color: rgb(92, 92, 0);
    background: linear-gradient(110deg, #ffebcd 60%, #efdfbb 60%)
}

img {
border-radius: 50%;
display: flex;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    box-shadow: 3px 3px#002244;
}

.image {
    flex-basis: 10%
}

.name{
    padding-left: 10px;
    flex-basis: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#002244;
    
}

.description{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}


.aboutme{
    width: 200px;
    flex-basis: 40%;
    padding-left: 10px;
    background-color:#002244;
    color: beige;
    box-shadow: 5px 5px #e6d09e;
    border-radius: 10%;
    
    
}

.skills{
    padding-left: 30px;
    background-color: #80755a;
    box-shadow: 4px 4px #002244;
    width: 175px;
    height: 175px;
    color: beige;
    border-radius: 10%;
    font-size: large;
    
}

.whats-next{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    font-size: large;
    
 
   
    
}

.Future{
   width: 300px;
   flex-basis: 50%;
   background: #7CB9E8;
   text-align: center;
   border-radius: 10%;
   color: #002244;
   box-shadow: 3px 3px #002244;
   
}

.Header{
    text-align: center;
    padding-top: 50px;
    font-size: xx-large
}

.Contact{
    display: flex;
    justify-content: space-around;
    background: #d2691e;
    height: 25px;
    box-shadow: 2px 2px #002244;
    font-size: x-large;
    color: blue;
}

.interest{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.hobbies {
    background: #b38b6d;
    width: 210px;
    padding-left: 30px;
    border-radius: 10%;
    color: white;
    align-items: center;
    box-shadow: 3px 3px#002244;
    font-size: large;
    
    
    
}

